.standardunit {
  width: 100%;
  height: 100vh;

  @media only screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    background-color: $black-color-light;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: $desktop) {
      width: 100%;
      max-width: 800px;
      height: unset;
      border-radius: 36px;
    }
  }

  &__form {
    padding: 48px 24px;
  }

  &__input--wrapper {
    margin-bottom: 16px;
  }
}
