// colors
$white-color: #cecece;
$black-color-dark: #2d2d2d;
$black-color-dark-2: #1d1d1d;
$black-color-light: #585858;
$primary-color: #00b894;

// font-weight
$extra-bold: 800;
$black: 900;

// breakpoints
$desktop: 1366px;
$tablet: 768px;
$phone: 500px;
